.navitem{
        border: 3px solid #00071af;
        background-color: #00164f;
        padding: 5px;
        margin: 5px;
        text-align: center;
        vertical-align: middle;
        font-family: 'cabin', sans-serif;
        box-shadow: 0px 3px 13px #000000;
        font-size: 22px;
        color: #ccc4b5;
        border-radius: 13px;
        z-index: 13;
}

#containerBuilder{
    color: #ccc4b5;
}

label{
    padding: 10px;
    padding-right: 20px;
    margin: 5px;
}

.navbar{
    margin: 50px;
}

#instructions{
    font-size: 18px;
        color: #ccc4b5;
}