@font-face {
    font-family: cabin;
    src: url("../Fonts/cabin.regular.ttf");
}

@font-face {
    font-family: nunito;
    src: url("../Fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: land;
    src: url("../Fonts/CARIMA.TTF");
}

.tombstoneWarning{
    padding: 10px;
    color: #ccc4b5;
}

.gullPopup{
    display: inline-block;
    position: relative;
   color: #a8844c;
   padding: 15px;
   z-index: 999;
   box-shadow: 0px 3px 13px #302c2e;
   background-color: #f2c272;
   padding: 10px;
   vertical-align: top;
   font-family: 'cabin', sans-serif;
   font-size: 34px;
   display: inline-block;
   border-radius: 13px;
}

.fenrirPopup{
   display: inline-block;
   position: absolute;
   left: 270px;
   color: #28ccdf;
   top: 80px;
   padding: 15px;
   z-index: 1000;
   box-shadow: 0px 3px 13px #302c2e;
   background-color: #5a5353;
   padding: 10px;
   vertical-align: top;
   font-family: 'cabin', sans-serif;
   font-size: 34px;
   display: inline-block;
   border-radius: 13px;
}



@font-face {
    font-family: norse;
    src: url("../Fonts/viking/Viking.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #020d1c;
  font-family: 'cabin', sans-serif;
}

.townLable{
    font-family: "land",serif;
    font-size: 32px;
    position: absolute;
    top: 0px;
    color: #ccc4b5;
    left: 20px;
    text-shadow: 1px 1px #000000;
    z-index: 10;
}

#output {
  margin: 25px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 13px solid #00164f;
  background-color: #033476;
  border-radius: 13px;
  width: 1000px;
}

.dialogueItem{
    padding: 20px;
    width: 420px;
    font-size: 18px;
}

.dialogueSelectableItem:hover{
    text-decoration: underline;
}

.dialogueContainer{
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: left;
    left: 250px;

}


.npcImage{
    display: inline;
    text-align: left;
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.npcBox{
    display: inline-block;
    width: 183px;
    margin: 5px;
    height: 250px;
    background-color: #6aa7de;
    border: 3px solid #00164f;

}

.tombstoneBuilderContainer{
    display: block;
    width: 95%;
    padding: 20px;
    margin: 5px;
    background-color: #6aa7de;
    border: 3px solid #00164f;
}

.tombstoneMagnet{
    padding: 5px;
    width: 100px;
    border: 3px solid #5f5f7f;
    background-color: #9fa2ab;
    border-radius: 13px;
    display: inline-block;
    color: #5f5f7f;
    vertical-align: top;
}

.tombstoneMagnet:hover{
    text-decoration: underline;

}

.tombstoneMagnetSelected{
    background-color: #999999;
}
.tombstoneMagnetSuperSelected{
    background-color: #888888;
}

.dialogueName{
    font-size: 28px;

}

.statValue{
    text-align: right;
    display: inline-block;
    width: 122px;
}

.partyScreen{
 margin: 25px;
  padding: 20px;
    height:250px;
     margin: 25px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 13px solid #00164f;
  background-color: #033476;
  border-radius: 13px;
  width: 1000px;

}

.nameLabel{
    text-align: center;
}

.statPortrait{
    width:133px;
}

.event{
    border: 3px solid #00164f;
    background-color: #033476;
    padding: 25px;
    font-size: 18px;
    font-family: 'cabin', sans-serif;
    position: absolute;
    box-shadow: 0px 3px 13px #000000;
    width: 400px;
    top: 75px;
    color: #ccc4b5;
    left: 33%;
    top: 33%;
    border-radius: 13px;
    z-index: 1000;
}

.flavorText{
    border: 3px solid #00164f;
    background-color: #033476;
    padding: 25px;
    font-size: 18px;
    font-family: 'cabin', sans-serif;
    position: absolute;
    box-shadow: 0px 3px 13px #000000;
    width: 400px;
    top: 75px;
    color: #ccc4b5;
    left: 200px;
    border-radius: 13px;
    z-index: 1000;
}

.killCountEchidna{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 85;



}

.killFactEchidna{
    border: 3px solid #00164f;
    background-color: #033476;
    padding: 8px;
    text-align: left;
    font-size: 18px;
    font-family: 'cabin', sans-serif;
    box-shadow: 0px 3px 13px #000000;
    color: #ccc4b5;
    border-radius: 13px;
    z-index: 85;
}

.travelPopup{
    border: 3px solid #00164f;
    background-color: #033476;
    padding: 25px;
    text-align: left;
    font-size: 18px;
    font-family: 'cabin', sans-serif;
    position: absolute;
    box-shadow: 0px 3px 13px #000000;
    top: 25%;
    color: #ccc4b5;
    left: 25%;
    border-radius: 13px;
    z-index: 10;
}

#instructions{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.voidPopup{
    background-color: #000000;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    font-family: 'cabin', sans-serif;
    position: absolute;
    top: 0%;
    width:100%;
    height:200%;
    color: #ccc4b5;
    left: 0%;
    z-index: 10;
}

.talkyScreen{
    border: 3px solid #00164f;
    background-color: #033476;
    padding: 25px;
    font-family: 'cabin', sans-serif;
    position: absolute;
    box-shadow: 0px 3px 13px #000000;
    width: 700px;
    height: 400px;
    bottom: 25px;
    color: #ccc4b5;
    left: 25px;
    border-radius: 13px;
    z-index: 10;
}

.voidList{
    text-align: left;
    border-radius: 13px;
    border: 3px solid #00071af;
    box-shadow: 0px 3px 13px #333333;
    padding-top: 10px;
    padding-bottom: 10px;

}

.goDark{
    border: 3px solid #00071af;
    background-color: #001111;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'cabin', sans-serif;
    box-shadow: 0px 3px 13px #333333;
    font-size: 18px;
    color: #ccc4b5;
    border-radius: 13px;
    z-index: 13;
}

.voidButton{
    border: 3px solid #00071af;
    background-color: #001111;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'cabin', sans-serif;
    box-shadow: 0px 3px 13px #333333;
    font-size: 28px;
    color: #ccc4b5;
    border-radius: 13px;
    z-index: 13;
}

.disabledVoid{
    box-shadow: 0px 3px 13px #111111;
    color: #333333;
}

.disabledVoid:hover{
    box-shadow: 0px 3px 13px #000000;
    color: #333333;
}

.voidButton:hover{
    box-shadow: 0px 3px 13px #888888;

}

.void{
   background-color:navy;
   color:white;
}

html:not([data-seerOf=void]) .void {
  display:none;
}


.tombstoneContainer{
    position:relative;
}

.eventIcon{
    float: left;
    padding-right: 20px;
}

.menuItem{
    border: 3px solid #00071af;
    background-color: #00164f;
    padding: 5px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: 'cabin', sans-serif;
    width: 125px;
    box-shadow: 0px 3px 13px #000000;
    font-size: 48px;
    color: #ccc4b5;
    border-radius: 13px;
    z-index: 13;
}

.menuItem:active{
    transform: translateY(-5px);
}

.goDark:active{
    transform: translateY(-5px);
}

.ending{
    position: relative;
    color: white;
}

#friend:hover{
    cursor: pointer
}

#heir:hover{
    cursor: pointer
}

#observer:hover{
    cursor: pointer
}

#gigglesnort:hover{
    cursor: pointer
}

.story{
    position: absolute;
}

.voidButton:active{
    transform: translateY(-5px);
}


.menuItem:hover{
    box-shadow: 0px 3px 13px #888888;

}


@keyframes startFade {
    0% {
        opacity:0;
    }
    20% {
        opacity:0;
    }
    40% {
            opacity:5;
    }
    60% {
            opacity:0.1;
    }

    80% {
                opacity:0.5;
    }
    100% {
                opacity:0.0;
    }
}

.startFade {
    animation-name: startFade;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    z-index:1000;
    opacity:0;
}


.menuHolder{
    padding: 5px;
    padding-top 0px;
    vertical-align: top;
    font-family: 'cabin', sans-serif;
    width: 100px;
    color: #ccc4b5;
    display: inline-block;
    border-radius: 13px;
    z-index: 10;
}


select{
    background: #9fa2ab;
    border: 3px solid #5f5f7f;
    border-radius: 13px;
    margin-bottom: 10px;
}

option{
    background: #9fa2ab;
    border: 3px solid #5f5f7f;
    border-radius: 13px;
}